

body, header, nav{
font-family: Myriad Pro, Verdana;
}
	
	
header {
    color: #fff;
    background: #1f8be1;
    height: 2.5em;
    max-width: 100%;
	font-family: "Myriad Pro", Verdana;
}

nav {
	background-image: url("images/blue_bg.png");
    background-color: #134670;
    max-width: auto;
	height: 110px;
	font-family: "Myriad Pro", Verdana;
}

.nav-icons {
	width: auto;
	padding-top: 30px;
	/* margin: 0px auto; */
	margin-left: 32%;
	margin-right: 32%;
/* 	margin-left: auto;
	margin-right: auto; */
}

li.navi{
	float: left;
	/* margin-left: 10px; */
	margin-right: 20px;

}

ol {
	list-style: none;
	font-family: "Myriad Pro", Verdana;
}

ul {
	list-style:none;
}

/* ol { 
    counter-reset: item;
    list-style-type: none;
}
li { display: block; }
li:before { 
    content: counter(item) "  "; 
    counter-increment: item 
} */

img.centered{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.dash {
    color: #FFF;
    background: #33cc66;
    height: 50px;
    border-radius: 3px;
    font-family: "Myriad Pro", Verdana;
    font-size: 36px;
    padding-left: 10px;
	  	
}
 .dash1{
  margin-top: 20px;
  margin-bottom: 20px;
  background: #33cc66;
  border-radius: 5px;
  padding-right: 35px;
  padding-top: 20px;

  

 }
 
.left-side {
    font-family: Arial;
    font-size: 36px;
    padding: 25px;
}
.small-box {
    float: right;
    background: #f4f4f4;
    border: solid gray 1px;
    border-radius: 3px;
	font-family: "Myriad Pro", Verdana;
    font-size: 20px;

}

.orange-text{
	color: #fe7f13;
	font-family: "Myriad Pro", Verdana;
}

.blue-text{
	color: #1f8be1;
	font-family: "Myriad Pro", Verdana;
	line-height: 3;
}

.blue-titles{
	color: #1f8be1;
	font-family: "Myriad Pro", Verdana;
	/*font-size: 32px; */
	line-height: 3;
}

.outlined {
    border: solid black 1px;
	font-family: "Myriad Pro", Verdana;
}

.ad-boxes{
	position: relative;
/* 	left: 0px;
    top: 0px; */
    border-radius: 5px;
	background: #FFF;
	height: 155px;
	margin-left: 3.25%;
	margin-right: 3.25%;
	width: 298px;
}

.ad-boxes img {
	vertical-align: bottom;
	border:0;
	}
	
.ads {
	background-position: center;
	left: 0px;

    background: #2498f4;
    padding: 25px;
    height: auto;
}

.ads img {
	float: left;
	vertical-align: bottom;
	border:0;
	}



footer {
	min-width: 100%;
	color: black;
	}
	
/* footer{
	background: #f4f4f4;
	border-top: darkslategray solid 1px;
	}
	 */
.footer{
	margin-top: 60px;
	background: #f4f4f4;
	border-top: darkslategray solid 1px;
	font-family: "Myriad Pro", Verdana;
}



