header {
    color: #fff;
    background: #1f8be1;
    height: 2.5em;
    max-width: 100%;
}

nav {
	background-image: url("images/blue_bg.png");
    background-color: #134670;
    max-width: 100%;
    height: 110px;
}


li {
	float: left;
	margin-left: auto;
	margin-right: auto;
}

img.centered{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.dash {
    color: #FFF;
    margin-top: 20px;
    background: #33cc66;
    height: 50px;
    border-radius: 3px;
    /*font-family: Arial;*/
    /*font-size: 36px;*/
}

.left-side {
    font-family: Arial;
    font-size: 36px;
}
.small-box {
    float: right;
    background: #f4f4f4;
    border: solid gray 1px;
    border-radius: 3px;
    font-size: 10px;
    height: 20px;
}

.outlined {
    border: solid black 1px;
}

.ads {
    background: #2498f4;
    padding: 40px;
    height: auto;
}

.ad-images{
    border-radius: 5px;
}