header {
    color: #fff;
    background: #1f8be1;
    height: 2.5em;
    max-width: 100%;
}

nav {
	background-image: url("images/blue_bg.png");
    background-color: #134670;
    max-width: auto;
	height: 110px;
}

.nav-icons {
	width: auto;
	padding-top: 30px;
	/* margin: 0px auto; */
	margin-left: 32%;
	margin-right: 32%;
/* 	margin-left: auto;
	margin-right: auto; */
}

li.navi{
	float: left;
	/* margin-left: 10px; */
	margin-right: 20px;

}

/* ol { 
    counter-reset: item;
    list-style-type: none;
}
li { display: block; }
li:before { 
    content: counter(item) "  "; 
    counter-increment: item 
} */

img.centered{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.dash {
    color: #FFF;

    background: #33cc66;
    height: 50px;
    border-radius: 3px;
    font-family: Myriad Pro, Verdana;
    font-size: 28px;
	  	padding: 10px;
}
 .dash1{
     margin-top: 20px;
  background: #33cc66;
  border-radius: 5px;

 }
 
.left-side {
    font-family: Arial;
    font-size: 36px;
}
.small-box {
    float: right;
    background: #f4f4f4;
    border: solid gray 1px;
    border-radius: 3px;
    font-size: 10px;
    height: 20px;

}

.orange-text{
	color: orange;
}

.blue-text{
	color: #1f8be1;
}

.outlined {
    border: solid black 1px;
	font-family: Myriad Pro, Verdana;
}

.ad-images{
	position: relative;
	left: 0px;
    top: 0px;
    border-radius: 5px;
	background: #FFF;
	height: 150px;
	margin: 10px;
	width: auto;
	z-index: 1;
}

.ads {
	position: relative;
	left: 0px;
    top: 0px;
    background: #2498f4;
    padding: 25px;
    height: auto;
	z-index: 2;
}

footer {
	margin-top: 20px;
	background: #f4f4f4;
	border-top: darkslategray solid 1px;
}

